*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
    
}
.container{
    max-width: 1350px;
    margin: auto;
}
body{
    margin: 0%;
}
Header{
    position: relative;
    display: block;
    padding: 42px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.logo a{
    text-decoration:none;
    color: #000;
}
.headcenter{
    display: flex;
    text-align: center;
    gap: 75px;

}
.centerLog{
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.navLeft{
    color: #000;
}
.headleft{
    display: flex;
    gap: 30px;
    
} 
/* *********************************** */
.sqrTop{
    width:60px; 
    height:60px; 
    border:1px solid grey;
    position: relative;
    bottom: 50px;
    left: 240px;
    z-index: -1;
}
.sqrArrBot{
    height: 50px;
    width: 50px;
    background-color: #555;
    position: absolute;
    right: 75px;
    bottom: 115px;
    text-align: center;
}
.arrBox{
    color: #FFF;
    font-size: 25px !important;
    position: relative;
    top: 10px;
}
.content{
    margin: 0 100px;
}
.mainSection{
    padding-top: 20px;
}
.mainsecHead{
    height: 30%;
    background: grey;
    width: 35%;
    padding: 3rem;
    position: absolute;
    left: 0;
    top: 20%;
}
.MainimgDiv {
    display: flex;
    margin-left: 250px;
}
.mainsecHead h1{
    color: #FFF;
}
.mainsecHead p{
    color: #FFF;
}
.mainSectionImg{
    width: 100%;
    height: 500px;
}
/* ***************************** */
.sectionservice{
    margin: 50px 0;
    text-align: center;
    font-size: 33px;
    max-width: 600px;
    position: relative;
    font-weight: bold;
}
.sectionservice::before{
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: lightgrey;
    left: 0;
    top: 50%;
    position: absolute;
}
.Benificontent{
    display: flex;
	text-align: left;
	margin-left: 110px;
	padding-bottom: 5%;
}
.benificontentBlock{
	display: flex;
	width: 50%;
}
.benifiblock{
	padding-left: 30px;
	display: block;
}
#qualityIcon1{
	margin-top: 14px;
	width:50px;
	height:50px;
}
#shippingIcon2{
	margin-left:0%;
	margin-top: 8px;
	width:50px;
	height:50px;  
}
#warrantyIcon3{
	margin-left:0%;
	margin-top: 14px;
	width:50px;
	height:50px;
}
.p1{
	font-size: 50px;
	font-weight: bold;
	display: block;
}
.qualityContent{
	font-size: 20px;
	width: 60%;
	display: inline-block;
}
.shippingContent{
	font-size: 20px;
	width: 60%;
	display: inline-block;
}
.warrantyContent{
	font-size: 20px;
	width: 70%;
	display: inline-block;
}
/* ************************** */
.sectionExp{
    display: flex;
    padding: 50px;
}
.img_sec{
    width: 100%;
    padding: 20px;
    margin: 0px;
}
.imgExp{
    width: 100%;
    height: 100%;
}
.ExpDetil{
    width: 100%;
    margin: 0 0 0 143px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.sectionExpHead{
    font-weight: bold;
    font-size: 50px;
}
.secexppara{
    font-size: 125%;
    font-weight: 500;
    padding-top: 0px;
}
.secexpparanum{
    font-size: 125%;
    font-weight: 500;
}
.divExp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.numExp{
    padding: 38px;
    padding-bottom: 0px;
}
.ExpDetail{
    color: grey;
    font-size: 75px;
    font-weight: bold;
}
.btn-learn{
    padding: 10px;
    background-color: #fff;
}
.btn-arrow{
    font-size: 30px;
    margin-left: -5px;
}
    
/* ****************************** */
 .sectionExpSecondry{
    display: flex;
    padding: 91px 64px;
} 
.sectionExpContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.divExpe{
    display: flex;
}
.briefHeading{
    font-size: 28px;
    font-weight: bold;
}
.processHead{
    font-size: 28px;
    font-weight: bold;
}
.finishHead{
    font-size: 28px;
    font-weight: bold;
}
.secExpSecDetBtn{
    position: relative;
    top: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    background: grey;
    color: #fff;
    margin: 0 15px;
}
.secExpSecDet{
    width: 70%;
}
.brifDesc{
    display: flex;
  }
.brifDesc p{
    font-size: 20px;
}
.vl{
    border-left: 3px solid lightgrey;
    height: auto;
    margin-left: -37px;
    margin-right: 35px;
}
.imgdet{
    width: 100%;
    height: 100%;
}
.prosimg{
    width: 100%;
}
/* ************************ */
.sectionReviewTab{
    padding: 50px 50px;
}
.revhead{
    display: flex;
}
.sectionCutRev{
    display: flex;
    padding: 50px 0px;
}

.sectionReview{
    background: grey;
    padding: 30px 50px;
    margin: 10px;
}
.reviewhead{
    color: #FFF;
    font-size: 30px;
}
.reviewpara{
    color: #FFF;
    font-size: 20px;
}
.review_user{
    display: flex;
}
.user1{
    height: 40px;
    border-radius: 20px;
}
.user2{
    height: 40px;
    border-radius: 20px;
}
.reviewDot{
    background: #FFF;
    border-radius: 15px;
    padding: 5px 8px;
}
.ReviewerDeti{
    position: static;
    margin: 10px 10px;
}
.name_post{
    color: #FFF;
}
/* *********************************** */
.subcrb{
    padding: 35px 0px;
}
.SubscriptionHead{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.Subscriptionpara{
    text-align: center;
    display: block;
    padding: 0 15%;
    font-size: 25px;
}
.search-container{
    text-align: center;
    margin: 20px;
}
.srchform{
    border: 1px solid black;
    margin: 0 30%;
    padding: 6px;
    background: #FFF;
}
.searchbox{
    border: none;
    float: left;
    padding: 10px;
}
.srchbtn{
    margin: 0 0 0 100px;
    padding: 10px;
    background: gray;
}
/* *********************************** */
footer{
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: 250px;
    background: grey;
}
.footermain{
    display: block;
    padding: 20px 0px;

}
.footerLux{
    color: white;
    width: 30%;
    float: left;
}
.leftData{
    padding: 0 50px 0 0;
    color: white;
}
.Footleft{
    display: flex;
    float: right;
}
.footerSM{
    display: flex;
}
.footerIcon{
    padding: 10px;
    color:white;
}
.fotcol{
    list-style-type: none;

}
.footlink{
    text-decoration: none;
    color: white;
}
/* *********************************** */
/* *********************************** */
@media only screen 
and (min-width : 321px) 
and (max-device-width : 480px) {
.sqrArrBot{
    display: none;
}
.footermain {
    display: grid;
}
.Footleft {
    display: grid;
}
.content {
    margin: 0 10px !important;
}
.Benificontent {
    display: grid !important;
}
.sectionCutRev {
    display: grid;
}
.srchform {
    border: 1px solid black;
    margin: 0px;
    padding: 6px;
    background: #FFF;
}
.srchbtn {
    margin: 0 0 0 40%;
    padding: 10px;
    background: gray;
}   
.mainsecHead {
    height: auto;
    background: grey;
    width: 100%;
    padding: 3rem;
    position: inherit;
    left: 0;
    top: 20%;
}
.MainimgDiv {
    display: flex;
    margin-left:0px;
}
footer {
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: auto;
    background: grey;
}
.footerLux {
    color: white;
    width: 100%;
    float: left;
    font-size: 25px;
}
.leftData {
    padding: 0 50px 0 0;
    color: white;
    font-size: 61px;
    font-weight: bolder;
}
.search-container {
    text-align: center;
    margin: 0 25%;
    width: 50%;
}
.secexppara{
    text-align: center;
}
.sectionExp{
    display: block;
}
.imgExp {
    width: 100%;
    height: auto;
}
.sectionExpHead{
    text-align: center;
}
.sectionReviewTab{
    text-align: center;
}
.ExpDetil {
    width: 100%;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.divExp{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sectionExpSecondry{
    display: block;
}
.imgdet {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.briefHeading {
    font-size: 45px;
    font-weight: bold;
}
.processHead{
    font-size: 45px;
    font-weight: bold;
}
.finishHead{
    font-size: 45px;
    font-weight: bold;
}
.secExpSecDet {
    width: 70%;
    margin-bottom: 10px;
}
.sqrTop{
    display: none;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
.sqrArrBot{
    display: none;
}
.mainsecHead {
    height: 55%;
    background: grey;
    width: 35%;
    padding: 3rem;
    position: absolute;
    left: 0;
    top: 50%;
}
.Benificontent {
    display: flex;
    padding-bottom: 5%;
}
.searchbox {
    border: none;
    float: left;
    padding: 10px;
    top: 10ox;
    position: relative;
    top: -18px;
}
.p1 {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.sqrTop{
    display: none;
}
.sqrTop{
    display: none;
}
.Benificontent {
    display: flex;
}   
.search-container {
    text-align: center;
    margin: 0 25%;
}
.srchform {
    border: 1px solid black;
    margin: 20px 0 0 0;
    padding: 20px 0;
    background: #FFF;
}
.srchbtn {
    margin: -20px 15px 0 0;
    padding: 10px;
    background: gray;
    float: right;
}

.footermain {
    display: block;
}
.ExpDetil{
    margin: 0;
}
.divExp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

@media only screen 
and (min-width : 1224px) {
.Benificontent {
    display: flex !important;
}
.footermain {
    display: block !important;
}
.Footleft {
    display: flex !important;
    float: right;
}
.srchform {
    margin: 0 30% !important;
    padding: 6px;
    background: #FFF;
    border: none;
}
.srchbtn {
    margin: 0 0 0 100px !important;
    padding: 10px 25px;
    background: gray;
    border: none;

}
.search-container {
    text-align: center;
    margin: 40px 0 -60px 0px;
}
.sectionCutRev {
    display: flex;
}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 769px) {
section{
    width: 100%;
    padding: 10px 10px;
}
.Benificontent {
    display: grid;
    text-align: left;
    /* margin: auto; */
    padding-bottom: 5%;
}
.ExpDetil{
    margin: 0;
    text-align: center;
}
.divExp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mainSection {
    display: block;
    padding-top: 20px;
}
.mainSectionImg {
    width: 100%;
    max-width: 600px;
}
.mainsecHead {
    background: grey;
    width: 100%;
    padding: 1rem;
    position: initial;
    margin-bottom: 15px;
}
.sqrArrBot{
    display: none;
}
.sectionservice::before {
    display: none;
}
.sectionservice {
    font-size: 29px;
}
.benificontentBlock {
    display: flex;
    width: 100%;
}
.qualityContent {
    width: 100%;
}
.shippingContent{
    width: 100%;
} 
.warrantyContent{
    width: 100%;
}
.sectionExp {
    display: grid;
    justify-content: space-around;
}
.imgExp {
    height: auto;
    max-width: 250px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
.sectionExpHead {
    text-align: center;
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
.revhead {
    margin: 0 36%;
}
.p1 {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.mainsecHead{
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.mainsecHead p {
    color: #FFF;
    font-size: 20px;
}
.sectionReviewTab{
    text-align: center;
}
.btn-learn{
    text-align: center;
}
.sectionExpSecondry {
    display: grid;
    padding-top: 60px;
    height: auto;
}
.imgdet {
    position: unset;
    height: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
.sectionCutRev {
    display: grid;
}
.srchform {
    border: 1px solid black;
    margin: 0 25%;
    padding: 0px;
    background: #FFF;
}
.Footleft {
    display: grid;
    float: right;
}
footer {
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: auto;
    background: grey;
}
.footermain {
    display: grid;
}
}