*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1350px;
    margin: auto;
}
body{
    margin: 0%;
}
header{
    position: relative;
    display: block;
}
.navbar{
    max-width: 1350px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.logo a{
    text-decoration:none;
    color: #000;
}
.headcenter{
    display: flex;
    text-align: center;
    gap: 60px;
}
.centerLog{
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.navLeft{
    color: #000;
}
.headleft{
    display: flex;
    gap: 30px;
} 
/* *********************************** */
.square_box {
    width: 115px;
    height: 93px;
    border: 3px solid grey;
    position: relative;
    bottom: 65px;
    left: 120px;
    z-index: -1;
}
.square_arrow_box {
    height: 93px;
    width: 115px;
    background-color: #555;
    position: absolute;
    right: -24px;
    bottom: 60px;
    text-align: center;
}
.square_arrow_box i{
    color: #FFF;
    font-size: 30px;
    position: relative;
    top: 30px;
  
}
.main_section{
    padding-top: 15px;
    position: relative;
}
.demo{
    position: absolute;
    top: 19%;
    left: -50%;
    max-width: 100%;
    background-color: grey;
    padding: 3% 10% 3% 50%;
}
.main_section_text{
    max-width: 300px;
    color: white;
}
.h1class{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.pclass{
    font-size: 15px;
    color: #fff;
}
.main_image_div {
    display: flex;
    margin-left: 11%;
}
.main_section_image{
    width: 100%;
    height: 700px;
}
/* *********************************** */
.section_service{
    margin: 50px 0;
    text-align: left;
    font-size: 40px;
    max-width: 500px;
    position: relative;
    font-weight: bold;
}
.section_service::before {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: lightgrey;
    left: -146px;
    top: 50%;
    position: absolute;
}
.benifit_heading {
    margin: 0px 0px 0px 150px;
}
.benifit_content{
    display: flex;
	text-align: left;
	padding-bottom: 5%;
}
.benifit_content_block{
	display: flex;
	width: 100%;
}
.benifit_block{
	padding-left: 30px;
	display: block;
}
#Icon1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#Icon2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Icon3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.benicon {
    width: 60px;
    height: 60px;
}
.benifit_head {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}
.quality_content {
    font-size: 18px;
    width: 85%;
    display: inline-block;
}
.shipping_content{
	font-size: 18px;
	width: 85%;
	display: inline-block;
}
.warranty_content{
	font-size: 18px;
	width: 85%;
	display: inline-block;
}
/* ************************** */
.section_experience {
    display: flex;
    line-height: normal;
}
.experience_imagediv{
    width: 100%;
}
.experience_image{
    width: 100%;
    height: 90%;
}
.experience_content {
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}
.experience_section_head{
    font-weight: bold;
    font-size: 50px;
}
.review_section_head{
    font-weight: bold;
    font-size: 50px;
}

.experience_text{
    font-size: 125%;
    font-weight: 500;
    line-height: normal;
}
.number_title{
    font-size: 125%;
    font-weight: 500;
}
.experience_number{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.number_content {
    padding: 0px 38px 0px 8px;
}
.number{
    color: grey;
    font-size: 75px;
    font-weight: bold;
}
.experience_button{
    padding: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}
.button_arrow{
    font-size: 30px;
    margin-left: -5px;
}
/* ****************************** */
.process_section {
    display: flex;
    padding: 91px 0px 35px 0px;
}
.process_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 71px;
}
.process_step{
    display: flex;
}
.brief_heading{
    font-size: 28px;
    font-weight: bold;
    padding-left: 12px;
}
.processing_head{
    font-size: 28px;
    font-weight: bold;
    padding-left: 12px;
}
.finishHead{
    font-size: 28px;
    font-weight: bold;
    padding-left: 12px;
}
.process_section_head{
    font-weight: bold;
    font-size: 47px;
}
.process_numberdiv {
    background-color: grey;
    color: white;
    border: 12px solid gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: -1px;
    margin-right: 10px;
    font-size: 23px;
}
.step_section {
    width: 75%;
    padding-top: 5px;
}
.process_text{
    display: flex;
  }
.process_text p{
    font-size: 18px;
}
.vl {
    border-left: 3px solid lightgrey;
    height: auto;
    margin-left: -35px;
    margin-right: 37px;
    margin-bottom: 10px;
    padding-left: 8px;
}
.process_image{
    width: 100%;
    height: 90%;
    padding-left: 30px;
}
.process_imagediv{
    width: 100%;
}
/* **************************************************** */
.review_section{
    padding: 35px 50px;
}
.review_head{
    display: flex;
}
.user_content{
    display: flex;
    padding: 50px 0px;
}

.review_box{
    background: grey;
    padding: 30px 50px;
    margin: 10px;
    display: grid;
}
.review_heading{
    color: #FFF;
    font-size: 30px;
}
.review_para{
    color: #FFF;
    font-size: 20px;
}
.review_user{
    display: flex;
}
.user1{
    height: 40px;
    border-radius: 20px;
}
.user2{
    height: 40px;
    border-radius: 20px;
}
.reviewDot{
    background: #FFF;
    border-radius: 15px;
    padding: 5px 8px;
}
.user_data{
    position: static;
    margin: 0px 10px;
}
.name_post{
    color: #FFF;
}
/* ********************************************* */
.subcribe_section{
    padding: 35px 0px;
}
.subscribe_head{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.subscribe_para{
    text-align: center;
    display: block;
    padding: 0 15%;
    font-size: 25px;
}
.search-container{
    text-align: center;
    margin: 20px;
    position: relative;
    top: -4px;
}
.search_form{
    margin: 0 30%;
    padding: 6px;
    background: #FFF;
    border: none;
    box-shadow: 0 0 5px black;
    height: 50px;
}
.searchbox{
    border: none;
    float: left;
    padding: 10px;
    width: 400px;
}
.search_button{
    padding: 10px;
    background: gray;
    float: right;
}
/* *********************************** */
.footer{
    background-color: grey;
    width: 100%;
}
.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: grey;
    padding: 52px 19px 56px 0px;
    width: 100%;
}
.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-color: grey;
    padding: 56px 19px 56px 0px;
    line-height: 38px;
}
.footlink{
    text-decoration: none;
    color: white;
}
.footerlink_section{
    list-style-type: none;
    line-height: 35px;
}
.footer_luxterior{
    max-width: 350px;
}
.footer_heads {
    line-height: 60px;
    padding: 0 50px 20px 0;

}
.footerIcon{
    padding: 10px;
    color:white;
}
.footer_icons{
    font-size: 20px;
}

/* *********************************** */
/* *********************************** */
@media only screen 
and (min-width : 321px) 
and (max-device-width : 480px) {
.container{
    margin: 16px;
}
.square_arrow_box{
    display: none;
}
.square_box{
    display: none;
}

.main_section_text {
    height: auto;
    background: grey;
    width: 100%;
    padding: 3rem;
    position: inherit;
    left: 0;
    top: 20%;
    max-width: 100%;
}
.main_image_div {
    display: flex;
    margin-left:0px;
}
.main_section_image {
    width: 100%;
    height: 20%;
}
.main_section{
    display: contents;
}
.demo {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}
.section_service {
    font-size: 54px;
    max-width: 100%;
}
.benifit_content {
    display: grid;
}
.benifit_head{
    font-size: 43px;
}
.quality_content{
    font-size: 30px;
    width: 80%;
}
.shipping_content {
    font-size: 30px;
    width: 80%;
}
.warranty_content {
    font-size: 30px;
    width: 80%;
}
.brief_heading {
    font-size: 45px;
    font-weight: bold;
}
.user_content {
    display: grid;
}
.experience_text{
    text-align: center;
    font-size: 27px;
    text-align: left;
}
.section_experience{
    display: block;
}
.experience_image {
    width: 100%;
    height: auto;
}
.experience_section_head{
    text-align: left;
    font-size: 63px;
}
.experience_content {
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.experience_number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 34px;
}
.experience_button {
    padding: 15px;
    margin-bottom: -39px;
    background-color: #fff;
    margin-left: 113px;
    font-size: 47px;
}

 .process_section {
    display:grid;
}
.process_section_head{
    text-align: left;
    font-size: 75px;
}
.process_image {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.processing_head{
    font-size: 45px;
    font-weight: bold;
}
.finishHead{
    font-size: 45px;
    font-weight: bold;
}
.step_section {
    width: 70%;
    margin-bottom: 10px;
}
.process_text p {
    font-size: 32px;
}
.review_section_head{
    text-align: left;
    font-size: 75px;
}
.review_section{
    text-align: center;
}
.review_heading {
    color: #FFF;
    font-size: 30px;
    text-align: left;
}
.review_para {
    text-align: left;
}
.user_data {
    text-align: left;
}
.name_post {
    font-size: 29px;
    color: #FFF;
}
.user2 {
    height: 80px;
    border-radius: 68px;
}
.user1 {
    height: 80px;
    border-radius: 68px;
}
.review_box i{
    text-align: left;
}
.subscribe_para {
    text-align: center;
    display: block;
    padding: 0 15%;
    font-size: 15px;
}
.search_form {
    margin: 0 30%;
    padding: 6px;
    background: #FFF;
    border: none;
    box-shadow: 0 0 5px black;
    height: 66px;
}
.searchbox {
    border: none;
    float: left;
    padding: 10px;
    width: 265px;
    font-weight: bold;
    font-size: 19px;
}
.search_button {
    padding: 10px;
    background: gray;
    float: right;
    font-weight: bold;
    font-size: 12px;
}
.search-container {
    text-align: center;
    margin: 20px;
    position: relative;
    top: 100px;
}
.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: grey;
    padding-left: 10px;
}
.fotpara {
    font-size: 14px;
}
.footlink {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
}

/* *********************************** */
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 769px) {
.container{
    margin: 0 16px;
}    
.main_section_text{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.main_section_text {
    max-width: 100%;
    color: white;
}
.main_section_text {
    background: grey;
    width: 100%;
    padding: 1rem;
    position: initial;
    margin-bottom: 15px;
}

.main_section_text p {
    color: #FFF;
    font-size: 20px;
}
.main_section {
    display: block;
    padding-top: 20px;
}
.main_section_image {
    width: 100%;
    max-width: 100%;
}
.main_image_div {
    display: flex;
}
.demo {
    padding: 3% 5% 3% 55%;; 
}
.square_box {
    width: 115px;
    height: 93px;
    border: 3px solid grey;
    position: relative;
    bottom: 65px;
    left: 74px;
    z-index: -1;
}
.benifit_content {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 5%;
}
.benifit_content_block {
    display: flex;
    width: 100%;
}
.quality_content {
    width: 100%;
}
.shipping_content{
    width: 100%;
} 
.warranty_content{
    width: 100%;
}
.benifit_head {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.experience_imagediv{
    width: 100%;
}
.experience_image{
    width: 100%;
    height: 100%;
}
.experience_content{
    gap: 27px;
}
.experience_section_head{
    font-size: 45px;
}
.experience_text{
    font-size: 119%;
}
.number{
    font-size: 71px;
}
.number_title{
    font-size: 122%;
}

.section_service::before {
    display: none;
}
.section_service {
    font-size: 29px;
    max-width: 340px;
}
.process_section_head {
    text-align: left;
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
.process_image {
    width: 100%;
}
.review_section_head {
    text-align: left;
    font-size: 39px;
    position: relative;
    font-weight: bold;
}
.review_section{
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.user_content {
    display: flex;
}
.review_heading{
    font-size: 24px;
}
.review_para{
    font-size: 15px;
}
.subscribe_head {
    font-size: 45px;
}
.subscribe_para {
    font-size: 20px;
}
.search-container {
    position: relative;
    top: 77px;
}
.searchbox {
    padding: 10px;
    width: 260px;
    font-size: 16px;
}
.search_button {
    padding: 9px;
}
.fotpara{
    font-size: 10px;
}
.footerlink_section {
    font-size: 12px;
}
.footer_icons{
    font-size: 13px;
}
}
/* *********************************** */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
.container{
    margin: 0px 16px;
}
.main_image_div {
    display: flex;
    margin-left: 23%;
}
.main_section_image {
    width: 650px;
    height: 410px;
}
.square_arrow_box {
    height: 93px;
    width: 115px;
    background-color: #555;
    position: absolute;
    right: 51px;
    bottom: 69px;
    text-align: center;
}
.square_box {
    width: 115px;
    height: 93px;
    border: 3px solid grey;
    position: relative;
    bottom: 69px;
    left: 193px;
    z-index: -1;
}
.main_section {
    padding-top: 15px;
    position: relative;
}
.demo {
    position: absolute;
    top: 19%;
    left: -51%;
    max-width: 90%;
    background-color: grey;
    padding: 4% 5% 5% 50%;
}
.h1class {
    color: #fff;
    font-size: 29px;
    font-weight: bold;
}

.pclass {
    font-size: 13px;
    color: #fff;
}
.benifit_content {
    display: flex;
    padding-bottom: 5%;
}
.benifit_head {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.benifit_content {
    display: flex;
}  
.experience_section_head {
    font-size: 45px;
}
.experience_text {
    font-size: 115%;
}
.number {
    font-size: 69px;
}
.number_title {
    font-size: 120%;
}
.experience_button {
    margin-bottom: 60px;
}
.experience_content {
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}
.process_section {
    display: flex;
}
.process_section_head {
    font-size: 45px;
}
.review_section_head {
    font-size: 45px;
}
.review_heading {
    font-size: 23px;
}
.review_para {
    font-size: 15px;
}
.subscribe_head {
    font-size: 45px;
}
.subscribe_para {
    font-size: 20px;
}
.search-container {
    position: relative;
    top: 78px;
}
.searchbox {
    width: 273px;
}
}
/* *********************************** */
@media only screen 
and (min-width : 1224px) {
.benifit_content {
    display: flex;
}
.user_content {
    display: flex;
}
.search-container {
    position: relative;
    top: 80px;
}
}
/* *********************************** */
