*{
    box-sizing: border-box;
    margin: 0%; 
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1350px;
    margin: auto;
}
body{
    margin: 0%;
}
header{
    position: relative;
    display: block;
    padding: 42px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.logo a{
    text-decoration:none;
    color: #000;
}
.headcenter{
    display: flex;
    text-align: center;
    gap: 75px;
}
.centerLog{
    padding: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.navLeft{
    color: #000;
}
.headleft{
    display: flex;
    gap: 30px;
} 
/* *********************************** */
.square_box{
    width: 92px;
    height:77px; 
    border:3px solid grey;
    position: relative;
    bottom: 60px;
    left: 339px;
    z-index: -1;
}
.square_arrow_box{
    height: 77px;
    width: 92px;
    background-color: #555;
    position: absolute;
    right: 50px;
    bottom: 60px;
    text-align: center;
}
.arrBox{
    color: #FFF;
    font-size: 25px !important;
    position: relative;
    top: 30px;
}
.main_section{
    padding-top: 15px;
    position: relative;
}
.demo{
    position: absolute;
    top: 19%;
    left: -50%;
    max-width: 100%;
    background-color: grey;
    padding: 3% 15% 3% 55%;
}
.main_section_text{
    max-width: 300px;
    color: white;
}
.h1class{
color: #fff;
font-size: 35px;
font-weight: bold;
}
.pclass{
font-size: 15px;
color: #fff;
}
.main_image_div {
    display: flex;
    margin-left: 27%;
}
.main_section_image{
    width: 93%;
    height: 20%;
}
/* *********************************** */
.section_service{
    margin: 50px 0;
    text-align: left;
    font-size: 40px;
    max-width: 500px;
    position: relative;
    font-weight: bold;
}
.section_service::before{
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: lightgrey;
    left: -137px;
    top: 50%;
    position: absolute;
}
.benifit_heading {
    margin: 0px 0px 0px 225px;
}
.benifit_content{
    display: flex;
	text-align: left;
	margin-left: 110px;
	padding-bottom: 5%;
}
.benifit_content_block{
	display: flex;
	width: 100%;
}
.benifit_block{
	padding-left: 30px;
	display: block;
}
#qualityIcon1{
	margin-top: 14px;
	width:50px;
	height:50px;
}
#shippingIcon2{
	margin-left:0%;
	margin-top: 8px;
	width:50px;
	height:50px;  
}
#warrantyIcon3{
	margin-left:0%;
	margin-top: 14px;
	width:50px;
	height:50px;
}
.benifit_head{
	font-size: 31px;
	font-weight: bold;
	display: block;
}
.quality_content {
    font-size: 18px;
    width: 71%;
    display: inline-block;
}
.shipping_content{
	font-size: 18px;
	width: 71%;
	display: inline-block;
}
.warranty_content{
	font-size: 18px;
	width: 70%;
	display: inline-block;
}
/* ************************** */
.section_experience {
    display: flex;
    padding: 35px 50px 0px 50px;
    line-height: normal;
}
    .experience_imagediv{
    width: 100%;
    padding: 20px;
    margin: 0px;
}
.experience_image{
    width: 100%;
    height: 90%;
}
.experience_content{
    width: 100%;
    margin: 0 0 0 143px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.experience_section_head{
    font-weight: bold;
    font-size: 50px;
}
.process_section_head{
    font-weight: bold;
    font-size: 50px;
}
.review_section_head{
    font-weight: bold;
    font-size: 50px;
}

.experience_text{
    font-size: 125%;
    font-weight: 500;
    padding-top: 0px;
    line-height: normal;
}
.number_title{
    font-size: 125%;
    font-weight: 500;
}
.experience_number{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.number_content{
    padding: 38px 38px 38px 8px;
    padding-bottom: 0px;
}
.number{
    color: grey;
    font-size: 75px;
    font-weight: bold;
}
.experience_button{
    padding: 10px;
    margin-bottom: 30px;
    background-color: #fff;
}
.button_arrow{
    font-size: 30px;
    margin-left: -5px;
}
/* ****************************** */
.process_section {
    display: flex;
    padding: 91px 64px 35px 64px;
}
.process_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 71px;
}
.process_step{
    display: flex;
}
.brief_heading{
    font-size: 28px;
    font-weight: bold;
}
.processing_head{
    font-size: 28px;
    font-weight: bold;
}
.finishHead{
    font-size: 28px;
    font-weight: bold;
}
.process_number{
    position: relative;
    top: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    background: grey;
    color: #fff;
    margin: 0 15px;
}
.step_section{
    width: 70%;
}
.process_text{
    display: flex;
  }
.process_text p{
    font-size: 20px;
}
.vl{
    border-left: 3px solid lightgrey;
    height: auto;
    margin-left: -37px;
    margin-right: 35px;
}
.process_image{
    width: 100%;
    height: 90%;
    padding-left: 30px;
}
.process_imagediv{
    width: 100%;
}
/* **************************************************** */
.review_section{
    padding: 35px 50px;
}
.review_head{
    display: flex;
}
.user_content{
    display: flex;
    padding: 50px 0px;
}

.review_box{
    background: grey;
    padding: 30px 50px;
    margin: 10px;
    display: grid;
}
.review_heading{
    color: #FFF;
    font-size: 30px;
}
.review_para{
    color: #FFF;
    font-size: 20px;
}
.review_user{
    display: flex;
}
.user1{
    height: 40px;
    border-radius: 20px;
}
.user2{
    height: 40px;
    border-radius: 20px;
}
.reviewDot{
    background: #FFF;
    border-radius: 15px;
    padding: 5px 8px;
}
.user_data{
    position: static;
    margin: 0px 10px;
}
.name_post{
    color: #FFF;
}
/* ********************************************* */
.subcribe_section{
    padding: 35px 0px;
}
.subscribe_head{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.subscribe_para{
    text-align: center;
    display: block;
    padding: 0 15%;
    font-size: 25px;
}
.search-container{
    text-align: center;
    margin: 20px;
}
.search_form{
    /* border: 1px solid black; */
    margin: 0 30%;
    padding: 6px;
    background: #FFF;
    border: none;
    box-shadow: 0 0 5px black;
}
.searchbox{
    border: none;
    float: left;
    padding: 10px;
}
.search_button{
    margin: 0 0 0 180px;
    padding: 10px;
    background: gray;
}
/* *********************************** */
.footer{
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 20px;
    height: 100%;
    max-height: 400px;
    background: grey;
}
.footer_section{
    display: block;
    padding: 20px 0px;
}
.footer_luxterior{
    color: white;
    width: 30%;
    float: left;
}
.footer_heads{
    padding: 0 50px 38px 0;
    color: white;
}
.Footleft{
    display: flex;
    float: right;
}
.footer_icons{
    display: flex;
}
.footerIcon{
    padding: 10px;
    color:white;
}
.footerlink_section{
    list-style-type: none;
    line-height: 27px;

}
.footlink{
    text-decoration: none;
    color: white;
}
.fotpara{
    line-height: 23px;
}
/* *********************************** */
/* *********************************** */
@media only screen 
and (min-width : 321px) 
and (max-device-width : 480px) {
.square_arrow_box{
    display: none;
}
.footer_section {
    display: grid;
}
.Footleft {
    display: grid;
}
.benifit_content {
    display: grid !important;
}
.user_content {
    display: grid;
}
.search_form {
    margin: 0px;
    padding: 6px;
    background: #FFF;
    margin: 14px 0px -65px 0px;
}
.search_button {
    margin: 0 0 0 40%;
    padding: 10px;
    background: gray;
}   
.main_section_text {
    height: auto;
    background: grey;
    width: 100%;
    padding: 3rem;
    position: inherit;
    left: 0;
    top: 20%;
    max-width: 100%;
}

.main_image_div {
    display: flex;
    margin-left:0px;
}
.footer {
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: 1080px;
    max-height: 1100px;
    background: grey;
}
.footer_luxterior {
    color: white;
    width: 100%;
    float: left;
    font-size: 25px;
}
.footer_heads {
    padding: 0 50px 0 0;
    color: white;
    font-size: 61px;
    font-weight: bolder;
}

.search-container {
    text-align: center;
    margin: 0 25%;
    width: 50%;
}
.experience_text{
    text-align: center;
    font-size: 27px;
    text-align: left;
}
.section_experience{
    display: block;
}
.experience_image {
    width: 100%;
    height: auto;
}
.experience_section_head{
    text-align: left;
    font-size: 75px;
}
.process_section_head{
    text-align: left;
    font-size: 75px;
}
.review_section_head{
    text-align: left;
    font-size: 75px;
}
.benifit_head{
    font-size: 43px;
}
.quality_content{
    font-size: 30px;
    width: 80%;
}
.shipping_content {
    font-size: 30px;
    width: 80%;
}
.warranty_content {
    font-size: 30px;
    width: 80%;
}
.footer_icons {
    font-size: 35px;
}
.review_section{
    text-align: center;
}
.experience_content {
    width: 100%;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.experience_number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 34px;
}
.process_section{
    display: block;
}
.process_image {
    width: 100%;
    height: 700px;
    margin-top: 50px;
}
.brief_heading {
    font-size: 45px;
    font-weight: bold;
}
.processing_head{
    font-size: 45px;
    font-weight: bold;
}
.finishHead{
    font-size: 45px;
    font-weight: bold;
}
.step_section {
    width: 70%;
    margin-bottom: 10px;
}
.square_box{
    display: none;
}
.review_heading {
    color: #FFF;
    font-size: 30px;
    text-align: left;
}
.review_para {
    text-align: left;
}
.user_data {
    text-align: left;
}
.experience_button {
    padding: 15px;
    margin-bottom: -39px;
    background-color: #fff;
    margin-left: 113px;
    font-size: 47px;
}
.name_post {
    font-size: 29px;
    color: #FFF;
}
.user2 {
    height: 80px;
    border-radius: 68px;
}
.user1 {
    height: 80px;
    border-radius: 68px;
}
.main_section{
    display: contents;
}
.demo {
    position: relative;
    top: 0;
    left: 0;
    padding: 10px;
}
.main_section_image {
    width: 100%;
    height: 20%;
}
.square_box{
    display: none;
}
}

/* *********************************** */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
.square_arrow_box{
    display: none;
}
.main_section_text {
    height: 55%;
    background: grey;
    width: 35%;
    padding: 3rem;
    position: absolute;
    left: 0;
    top: 50%;
}
.benifit_content {
    display: flex;
    padding-bottom: 5%;
}
.searchbox {
    border: none;
    float: left;
    padding: 10px;
    top: 10ox;
    position: relative;
    top: -18px;
}
.benifit_head {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.square_box{
    display: none;
}
.square_box{
    display: none;
}
.benifit_content {
    display: flex;
}   
.search-container {
    text-align: center;
    margin: 0 20%;
}
.search_form {
    margin: 20px 0 0 0;
    padding: 22px 0;
    background: #FFF;
    margin: 14px 0px -100px 0px;
}
.search_button {
    margin: -20px 15px 0 0;
    padding: 10px;
    background: gray;
    float: right;
}
.subcribe_section {
    padding: 82px 0px;
}
.footer_section {
    display: flex;
    height: 100%;
}
.experience_content{
    margin: 0;
}
.experience_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.demo {
    position: absolute;
    top: 10%;
    left: -50%;
    max-width: 100%;
    background-color: grey;
    padding: 3% 3% 3% 55%;
}
.main_section_text {
    background: grey;
    width: 100%;
    padding: 1rem;
    position: relative;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
    top: 0;
    text-align: center;
}
.main_image_div {
    display: flex;
    margin-left: 27%;
}
.main_section_image{
    width: 100%;
}
.footer{
    height: 100%;
    padding: 20px;
}
.square_box{
    display: none;
}
.Footleft {
    display: block;
    float: right;
    position: absolute;
    margin-top: 181px;
}
.footer_luxterior {
    position: absolute;
}
.footer_section {
    display: grid;
}
.footer {
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: 1080px;
    max-height: 1100px;
    background: grey;
}
}
/* *********************************** */
@media only screen 
and (min-width : 1224px) {
.benifit_content {
    display: flex !important;
}
.footer_section {
    display: block !important;
}
.Footleft {
    display: flex !important;
    float: right;
}
.search_form {
    margin: 0 30% !important;
    padding: 6px;
    background: #FFF;
    border: none;
    
}
.search_button {
    padding: 10px 25px;
    background: gray;
    border: none;

}
.search-container {
    text-align: center;
    margin: 40px 0 -60px 0px;
}
.user_content {
    display: flex;
}
.search_form{
    margin: 14px 25% -65px 25%;
}
}
/* *********************************** */
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 769px) {
section{
    width: 100%;
    padding: 10px 10px;
}
.benifit_content {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 5%;
}
.experience_content{
    margin: 0;
    text-align: center;
}
.experience_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main_section {
    display: block;
    padding-top: 20px;
}
.main_section_image {
    width: 100%;
    max-width: 100%;
}
.main_section_text {
    background: grey;
    width: 100%;
    padding: 1rem;
    position: initial;
    margin-bottom: 15px;
}
.square_arrow_box{
    display: none;
}
.section_service::before {
    display: none;
}
.section_service {
    font-size: 29px;
    max-width: 340px;
}
.benifit_content_block {
    display: flex;
    width: 100%;
}
.quality_content {
    width: 100%;
}
.shipping_content{
    width: 100%;
} 
.warranty_content{
    width: 100%;
}
.section_experience {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.experience_image {
    width: 100%;
}
.experience_section_head {
    text-align: center;
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
.process_section_head {
    text-align: center;
    font-size: 30px;
    position: relative;
    font-weight: bold;
}
.review_section_head {
    text-align: left;
    font-size: 39px;
    position: relative;
    font-weight: bold;
}
.benifit_head {
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.main_section_text{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.main_section_text p {
    color: #FFF;
    font-size: 20px;
}
.review_section{
    text-align: left;
    padding: 0px 20px 0px 20px;
}
.experience_button{
    text-align: center;
}
.process_section {
    display: flex;
    padding-top: 60px;
    height: auto;
}
.process_image {
    width: 100%;
}
.user_content {
    display: flex;
}
.search_form {
     margin: 15px 25% -110px 25%; 
}
.Footleft {
    display: grid;
    float: right;
}
.footer {
    position: relative;
    z-index: -1;
    margin: 0px auto;
    padding: 80px 64px;
    height: 1080px;
    max-height: 1100px;
    background: grey;
}
.footer_section {
    display: flex;
    flex-direction: row;
}
.main_image_div {
    display: flex;
}
.demo {
    padding: 3% 5% 3% 55%;; 
}
.main_section_text {
    max-width: 100%;
    color: white;
}
.square_box{
    display: none;
}
}
/* *********************************** */
